nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
  padding:10px;
}
nav a {
  text-decoration: none;
}
body{
  text-align: center;
}